{% extends "base.html" %}

{% block container %}

    <div>
        {% if crud_type == "new" %}
            <form action="{% url 'jim:thought-new' article_id point_id %}" method="POST">
        {% elif crud_type == "edit" %}
            <form action="{% url 'jim:thought-edit' article_id point_id thought.id %}" method="POST">
        {% endif %}
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">{{ button_value }}</button>
        </form>
    </div>

{% endblock container %}